/**
  * skills and cateegories
  */
.category.is-empty {
  display: none;
}

$category-gutter: 8px;
.categories {
  display: flex;
  justify-content: space-between;
  margin: 0 -$category-gutter;
}

// color category titles differently
.category__name {
  font-weight: bold;
}

.category {
  border: 1px solid;
  padding: 1em;
  height: 100%;
}

.category-wrapper {
  flex: 1;
  padding: 0 8px;
}

.category--experience {
  border-color: $color__secondary;

  .category__name {
    color: $color__secondary;
  }
}
.category--storytelling {
  border-color: $color__accent;

  .category__name {
    color: $color__accent;
  }
}

.category--performance {
  border-color: $color__primary;

  .category__name {
    color: $color__primary;
  }
}

.category li { // skills
  font-size: 0.9em;
  line-height: 1.3;
  padding: 0.35em 0;
}

.category--top li {
  margin: 0.5em 0;
}
