/**
  * User
  */

.section.for-users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.user {
  order: 2;
  position: relative;
  @extend .animated;

  &:hover {

  }

  &:after { // active triangle indicator
    content: '';
    display: block;
    height: 0;
    width: 0;
    border: 16px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: white;
    opacity: 0;
    transition: bottom 0.2s, opacity 0.3s;
  }
}

.user.is-active {
  &:after { // active triangle indicator
    bottom: -2px;
    opacity: 1;
    transition: bottom 0.2s, opacity 0.3s;
  }

}

.even .user {
  &:after {
    bottom: initial;
    top: -20px;
    border-color: transparent;
    border-top-color: white;
    transition: top 0.2s, opacity 0.2s;
  }
}

.even .user.is-active {
  &:after {
    bottom: initial;
    top: 0;
    transition: top 0.2s, opacity 0.4s;
  }
}

.user__inner {
  width: 100%;
  padding-bottom: 100%;
  background: url('https://loremflickr.com/320/320/face');
  background-size: cover;
  background-position: center;
}

.user.not-active {
  width: 25%;
  order: 2;
}

.user__details {
  display: none;
  padding: 0;
  position: relative;
  width: 100%;
  background: rgba(white,0.95);
  order: 3;

  .even & {
    order: 1;
  }
}

.user.is-active + .user__details {
}

.details__inner {
  padding: 2em 4em 3em;
}

.user__name {
  margin-bottom: 0.5em;
}

.user__preview {
  @extend .animated;
  @extend .flipOutY;
  animation-duration: .5s;

  height: 100%; width: 100%;
  position: absolute;
  top: 0; left: 0;

  color: white;
  background: rgba($color__primary,0.95);
  font-size: 0.85em;
}

.user:hover .user__preview, .user.is-active .user__preview {
  @extend .flipInY;
    -webkit-animation-duration: .75s;
  animation-duration: .75s;
  opacity: 1;
}

.user-preview__inner {
  padding: 2.5em 1.5em;
}

.user__close {
  $this_height: 50px;
  position: absolute;
  top: $this_height/2; right: $this_height/2;
  height: $this_height; width: $this_height;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;

  &:before, &:after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    display: block;
    transform: rotate(45deg);
    margin-top: 50%;
  }

  &:after {
    transform: rotate(-45deg);
  }
}
