/**
  * User
  */

.section.for-users {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.user {
  order: 2;
  position: relative;


  &:after { // active triangle indicator
    content: '';
    display: block;
    height: 0;
    width: 0;
    border: 16px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: white;
    opacity: 0;
    transition: bottom 0.2s, opacity 0.3s;
  }
}

.user.is-active {
  &:after { // active triangle indicator
    bottom: -2px;
    opacity: 1;
    transition: bottom 0.2s, opacity 0.3s;
  }

}

.even .user {
  &:after {
    bottom: initial;
    top: -20px;
    border-color: transparent;
    border-top-color: white;
    transition: top 0.2s, opacity 0.2s;
  }
}

.even .user.is-active {
  &:after {
    bottom: initial;
    top: 0;
    transition: top 0.2s, opacity 0.4s;
  }
}

.user__inner {
  width: 100%;
  background: url('https://loremflickr.com/320/320/face');
  min-height: 300px;
  background-size: cover;
  background-position: center;
}

.user.not-active {
  width: 25%;
  order: 2;
}

.user__details {
  display: none;
  padding: 0;
  position: relative;
  width: 100%;
  background: rgba(white,0.95);
  order: 3;

  .even & {
    order: 1;
  }
}

.user.is-active + .user__details {
}

.details__inner {
  padding: 3em 4em;
}

.user__name {
  margin-bottom: 1em;
}

.user__close {
  $this_height: 50px;
  position: absolute;
  top: $this_height/2; right: $this_height/2;
  height: $this_height; width: $this_height;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;

  &:before, &:after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    position: absolute;
    display: block;
    transform: rotate(45deg);
    margin-top: 50%;
  }
  &:after {
    transform: rotate(-45deg);
  }

}

